<div class="patent">
    <h2><b>Patents</b></h2>
      <div class="table-responsive">
        <table class="table table-sm table-borderless">
          <tr>
            <!-- <th scope="row">2021</th> -->
            <td>
              <b>Dynamic One-time Pad Table Management for Secure Multi-GPU Communication (Korean patent)</b><br>
            Jaehyuk Huh, Seonjin Na, Jungwoo Kim, Sunho Lee 
            </td>
          </tr>
  
          <tr>
            <!-- <th scope="row">2020</th> -->
            <td>
              <b>Improving the Utilization of NPU On-chip Memory with Computation Rearrangement
                for DNN Training (Korean patent)</b><br>
              Jaehyuk Huh, Jungwoo Kim, Seonjin Na, Sanghyeon Lee, Sunho Lee
            </td>
          </tr>
  
          <tr>
            <!-- <th scope="row">2020</th> -->
            <td>
              <b>Apparatus and Method for Providing Secure Execution Environment for NPU (US patent)</b><br>
              Jaehyuk Huh, Sunho Lee, Seonjin Na
            </td>
          </tr>
        <tr>
            <!-- <th scope="row">2020</th> -->
            <td>
              <b>Hardware-based Security Architecture for Trusted Neural Processing Unit (Korean patent)</b><br>
              Jaehyuk Huh, Sunho Lee, Seonjin Na
            </td>
          </tr>
        <tr>
            <!-- <th scope="row">2020</th> -->
            <td>
              <b>Efficient Encryption Method and Apparatus for Hardware-based Secure GPU Memory (Korean patent)</b><br>
              Jaehyuk Huh, Seonjin Na, Sunho Lee, Yeonjae Kim, and Jongse Park
            </td>
          </tr>
  
        </table>
      </div>
  </div>
  